* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}


/* pre_loader */

.pre_loader {
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: fixed;
    z-index: 9999999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    height: 30vmax;
    width: 30vmax;
    background-image: url(/images/loader.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform-origin: top;
}


/* cursor */
.cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    transition: 0.1s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 99999999;
    mix-blend-mode: difference;
}

/*  */
@font-face {
    font-family: "primary";
    src: url(/fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: "secondry";
    src: url(fonts/AgencyFB-Bold.ttf);
}

/*  */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: #103443;
    border-radius: 10px;
}

/* main */
main {
    position: relative;
    overflow: hidden;
    background-color: black;
}

/* menu-overlay */

.menu-overlay {
    min-height: 100vh;
    width: 25vw;
    position: fixed;
    z-index: 999;
    transition: 1s ease-in-out all;
    background-color: #010303e2;
    padding: 5vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: translateX(-110%);
}

.menu-overlay h1 {
    position: absolute;
    top: 0.7vmax;
    left: 9vmax;
    font-size: 2.5vmax;
    font-family: "secondry";
    color: white;
    overflow: hidden;
}

.menu-overlay h1 span {
    color: #103443;
}

.menu-overlay ul {
    list-style: none;
}

.menu-overlay ul li {
    color: rgba(255, 255, 255, 0.786);
    font-size: 1.5vmax;
    margin: 1vmax 0;
    font-family: "primary";
    transition: 0.2s ease-in-out all;
}

.menu-overlay ul li:hover {
    color: white;
    transform: scale(1.1);
}

li:hover {
    cursor: pointer;
}

hr {
    height: 2px;
    width: 18vmax;
    background-color: #103443;
    margin: 3vmax 0;
    border: none;
}

/* nav */
header {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 999;
}

nav {
    min-height: 10vh;
    width: inherit;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vmax;
    padding-bottom: 0.5vmax;
}

.menu-btn i {
    color: white;
    font-size: 1.5vmax;
    cursor: pointer;
}

.nav-middle {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-middle ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.nav-middle ul li {
    font-size: 1.2vmax;
    font-family: "primary";
    color: rgba(255, 255, 255, 0.774);
    margin-left: 2.5vmax;
}

.nav-middle ul li:hover {
    color: white;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.nav-right-btn-1 {
    padding: 1.3vh 2vw;
    border-radius: 5px;
    font-size: 0.7vmax;
    font-family: "primary";
    background-color: transparent;
    margin-right: 0.5vmax;
    color: white;
    border: 1px solid white;
}

.nav-right-btn-2 {
    color: white;
    padding: 1.7vh 2vw;
    border-radius: 5px;
    font-size: 0.7vmax;
    border: none;
    font-family: "primary";
    background-color: #103443;
}


/*pages_wrapper  */

.pages_wrapper {
    position: relative;
    overflow-x: hidden !important;
}

/* page_1_overlay */

.page_1 {
    min-height: 100vh;
    width: 100vw;
    background-image: url(images/itachi.jpg);
    background-size: cover;
    background-position: initial;
    position: relative;
}

.page_1_overlay {
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.601);
    display: flex;
    position: relative;
}

/* .page-1-left */

.page-1-left {
    min-height: inherit;
    width: 50vw;
    padding: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_1_left_content_wrapper h1 {
    font-size: 6vmax;
    font-family: "secondry";
    color: white;
    letter-spacing: 2px;
}

.page_1_left_content_wrapper span {
    font-size: 6vmax;
    letter-spacing: 2px;
    font-family: "secondry";
    border-bottom: 2px solid white;
    color: white;
}

.page_1_left_content_wrapper p {
    width: 80%;
    font-size: 1vmax;
    font-family: "primary";
    color: rgba(255, 255, 255, 0.757);
    margin: 2vmax 0;
}

.btn-1 {
    padding: 1.3vh 4vw;
    border-radius: 5px;
    font-size: 0.9vmax;
    font-family: "primary";
    background-color: transparent;
    margin-right: 0.5vmax;
    margin-top: 1vmax;
    color: white;
    border: 1px solid white;
}

.btn-2 {
    color: white;
    padding: 1.5vh 4vw;
    border-radius: 5px;
    font-size: 0.9vmax;
    margin-top: 1vmax;
    border: none;
    font-family: "primary";
    background-color: #103443;
}

/* page-1-right */
.page-1-right {
    min-height: inherit;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

/* swiper */

.swiper {
    width: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 260px;
    height: 400px;
    /* background-color: red; */
    border-radius: 10px;
}

.swiper-slide img {
    display: block;
    height: 90%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.swiper-slide div {
    padding: 0.4vmax;
}

.swiper-slide div>span {
    font-family: "primary";
    font-size: 1.3vmax;
    color: white;
    font-weight: 400;
}

/* page_1 */

.page_2 {
    min-height: 100vh;
    width: 100vw;
    position: relative;
    padding: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #020406, #080d0e, black, black);
}

.page-2-center_div {
    min-height: 85vh;
    width: 80vw;
    border-radius: 15px;
    background-image: url(/images/jujutsu-kaisen-bg.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.605);
}

.page-2-center_div_overlay {
    min-height: 100vh;
    width: 100%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.887);
    display: flex;
}

.page-2-center_div_overlay_left {
    min-height: inherit;
    width: 60%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.page-2-center_div_overlay_left img {
    height: 42vmax;
}

/* page-2-center_div_overlay_right */
.page-2-center_div_overlay_right {
    min-height: inherit;
    width: 40%;
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.page-2-center_div_overlay_right_txt h2 {
    font-family: "primary";
    font-size: 1.3vmax;
    font-weight: 700;
    color: white;
}

.page-2-center_div_overlay_right_txt h2>span {
    color: rgba(255, 255, 255, 0.674);
}

.page-2-center_div_overlay_right_txt h1 {
    font-family: "primary";
    font-size: 2vmax;
    font-weight: 700;
    color: white;
    margin: 0.5vmax 0;
}

.page-2-center_div_overlay_right_txt p {
    font-family: "primary";
    font-size: 1vmax;
    width: 80%;
    color: rgba(255, 255, 255, 0.785);
    margin: 1.8vmax 0;
}

.page-2-center_div_overlay_right_txt button {
    color: black;
    padding: 1.6vh 2vw;
    border-radius: 15px;
    font-size: 0.9vmax;
    border: none;
    font-family: "primary";
    background-color: white;
    margin-top: 1vmax;
}

/* page_2 */

.page_3 {
    min-height: 100vh;
    width: 100vw;
    position: relative;
    padding: 3vw;
    background: linear-gradient(to right, #020406, #080d0e, black, black);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.page_3_head h1 {
    font-family: "secondry";
    font-size: 4vmax;
    color: white;
    font-weight: 700;
}

/*  */

.page_3-main-card_container {
    min-height: 70vh;
    width: 90vw;
    padding: 1vw 0.3vw;
    white-space: nowrap;
    /* background-color: red; */
    overflow-x: auto;
    overflow-y: hidden;
}

.page_3-main-card_container::-webkit-scrollbar {
    height: 10px;
    cursor: pointer;
}

.page_3-main-card_container::-webkit-scrollbar-track {
    border: 1px solid white;
    border-radius: 14px;
}

.page_3_cards {
    height: 37vmax;
    width: 22vmax;
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.467);
    display: inline-block;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    margin-right: 1.6vmax;
    box-shadow: 0 0 10px rgb(41, 36, 36);
}

.page_3_cards img {
    height: 30vmax;
    width: 22vmax;
    object-fit: cover;
}

.page_3_cards_txts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.6vmax 0;
}

.page_3_cards h2 {
    font-size: 1.3vmax;
    font-family: "primary";
    color: white;
}

.page_3_cards span {
    height: 2vmax;
    width: 5vmax;
    padding: 0.5vmax;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.476);
    font-size: 0.8vmax;
    font-family: "primary";
    color: white;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 2vmax;
}


/* page_2 */

.page_4 {
    min-height: 100vh;
    width: 100vw;
    position: relative;
    padding: 3vw;
    background: linear-gradient(to right, #020406, #080d0e, black, black);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.page_4_head h1 {
    font-family: "secondry";
    font-size: 4vmax;
    color: white;
    font-weight: 700;
}

/*  */

.page_4_cards_container {
    min-height: fit-content;
    width: 90vw;
    padding: 3vw 1.5vw;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
}

.page_4_card {
    height: 37vmax;
    width: 20vmax;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.467);
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    margin-right: 1.6vmax;
    margin-bottom: 4vmax;
    box-shadow: 0 0 10px rgb(41, 36, 36);
}

.page_4_card img {
    height: 30vmax;
    width: 22vmax;
    object-fit: cover;
}


.page_4_card_txts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.6vmax 0;
}

.page_4_card h2 {
    font-size: 1.3vmax;
    font-family: "primary";
    color: white;
}

.page_4_card span {
    height: 2vmax;
    width: 5vmax;
    padding: 0.5vmax;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.476);
    font-size: 0.8vmax;
    font-family: "primary";
    color: white;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 2vmax;
}



/* ----END--- */